.body {
    min-width: 1200px;
    width: 100%;
}

.fonts {
    font-family: Roboto, serif;
    text-decoration: none;
    color: #ffffff;
}

.upp-case {
    text-transform: uppercase;
}

/*------------------------------ WE ARE CREATIVE ----------------------------------*/
.block-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 1012px;
    background: url("../img/background/section-1.jpg") no-repeat center;
    background-size: cover;
}

/*.grey-rectangle {*/
/*    height: 120px;*/
/*    width: 100%;*/
/*    background-color: #49473f;*/
/*    opacity: 0.6;*/
/*}*/

.header {
    display: flex;
    justify-content: space-between;
    border: 2px red solid;
    width: 1180px;
    height: 67px;
}

.logo {
    display: inline-flex;

}

.logo-hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/Polygon_1.png") no-repeat;
    top: 28px;
    left: 389px;
    width: 58px;
    height: 67px;
}

.logo-h {
    width: 26px;
    height: 28px;
    font-size: 40px;
    font-weight: 700;
    line-height: 31px;
}
.logo-text {
    display: flex;
    justify-content: center;
}

.logo-text-green {
    color: #18cfab;
}

.main-menu {
    width: 60%;
}

.main-menu ul {
    display: flex;
    justify-content: space-around;

}


/*------------------------------  4 BLOCK`S  ---------------------------------------*/

