.body-case {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}

.body-case li {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 35px;
}

.body-case a {
    text-decoration: none;
    text-transform: uppercase;
    color: #16a085;
    text-decoration: none;
}

.home {
    margin-right: 65px;
}

.photoapp {
    margin-right: 70px;
}

.design {
    margin-right: 78px;
}

.web-photo {
    height: 790px;
    width: 1280px;
}

.background-color {
    background-color: #f5f6f7;
}

.p1-text {
    margin-bottom: 34px;
    padding-top: 59px;
    font-size: 21px;
    text-transform: uppercase;
}

.p2-text {
    margin: 34px 108px 0 113px;
    font-size: 17px;
}

.get-started {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    margin-top: 41px;
    margin-bottom: 94px;
    background: #16a085;
    color: white !important;
    font-weight: normal;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

footer p {
    margin: 47px 104px 45px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: right;
}

