body {
    width: 1280px;
    padding: 60px 100px 30px 100px;
}
.fonts {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: black;
}

.ramda {
    text-decoration: none;
    text-align: left;
    font-size: 80px;
}

.ramda span {
    color: #4BCAFF;
}

.top-menu {
    width: 1280px;
    margin-top: 44px;
    background-color: #35444F;
}

.top-li {
    display: inline-block;
}

.top-a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding-top: 27px ;
    padding-bottom: 20px ;
    padding-left: 20px;
    padding-right: 20px;
}
.top-a:hover {
    background-color: #222F3A;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
}
.top-a-l {
    padding-left: 204px;
}
.top-a-r {
    padding-right: 200px;
}

.left-menu-border {
    display: inline-block;
    margin-top: 50px;
    width: 344px;
    vertical-align: top
}
.left-li {
    border: 1px solid black;
    list-style-type: none;
}

.left-a {
    display: block;
    text-decoration: none;
    font-size: 19px;
    text-align: left;
    padding-left: 44px;
    padding-top: 28px;
    padding-bottom: 28px;
}
.left-a:hover {
    background-color: #DBDBDB;
    padding-left: 70px;
}

.image-border {
    display: inline-block;
}

.image {
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 45px;
}
.text {
    width: 885px;
    padding-top: 50px;
    padding-left: 415px;
}
.p1 {
    display: block;
    width: 815px;
    font-size: 18px;
}
.p2 {
    display: block;
    width: 820px;
    font-size: 18px;
    padding-top: 30px;
}
.bottom-menu {
    width: 1280px;
    margin-top: 44px;
    background-color: #B4B7BA;
}
.bottom-li {
    display: inline-block;
}
.bottom-a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #0C1927;
    font-size: 24px;
    padding-top: 27px ;
    padding-bottom: 20px ;
    padding-left: 15px;
    padding-right: 15px;
}
.bottom-a:hover {
    text-decoration: underline;
    color: blue;
}

.copy {
    font-size: 24px;
    padding-left: 130px;
}
.bottom-a-l {
    padding-left: 45px;
}
