.container {
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, left bottom,
    from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),
    url("../img/Background.png");
    background-attachment: fixed;
}

.font-style {
    font-family: 'Verdana', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

/************* HEADER *************/

.milan {
    font-family: 'Verdana', sans-serif;
    text-transform: uppercase;
    width: 104px;
    height: 22px;
    font-size: 29px;
    font-weight: 700;
    margin-left: 15px;
}

.holidays {
    font-family: 'Verdana', sans-serif;
    width: 105px;
    height: 13px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 16px;
    margin-top: 5px;
}

.header-style {
    width: 1060px;
    height: auto;
    padding-top: 49px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.logo-img {
    width: 46px;
    height: 44px;
}

.float-l {
    display: block;
    float: left;
}

.float-r {
    display: block;
    float: right;
}

.tab-fnt {
    font-size: 18px;
    font-family: "Verdana", sans-serif;
    text-align: center;
}

.number-fnt {
    font-size: 18px;
    font-family: "Verdana", sans-serif;
}

.number {
    text-align: right;
    text-decoration: none;
}

/************* MAIN ****************/

.tabs {
    width: 1060px;
    height: 542px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.tab {
    display: inline-block;
    width: 308px;
    height: 250px;
    text-decoration: none;
}

.text-a {
    text-decoration: none;
    color: white;
    transition: 1s;
}

.wrapper {
    width: 308px;
    height: 200px;
    position: relative;
    box-sizing: border-box;
}

.orange-box {
    position: absolute;
    width: 308px;
    height: 0;
    bottom: 0;
    background-color: #f26522;
    transition: 0.8s;
    overflow: hidden;
    opacity: 0;
}

.text-div {
    padding-top: 20px;
}

.from {
    width: 24px;
    height: 1px;
    font-size: 10px;
    font-weight: 400;
    color: white;
    left: 0;
    margin: 12px 126px 0 21px;
    opacity: 0;
    transition-delay: 0.4s;
}

.€50 {
    display: inline-block;
    width: 38px;
    height: 15px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    left: 0;
    margin: 7px 126px 17px 21px;
    padding-top: 7px;
    opacity: 0;
    transition-delay: 0.4s;
}

.view {
    display: inline-block;
    width: 103px;
    height: 11px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    right: 0;
    margin: 10px 13px 17px auto;
    opacity: 0;
    transition-delay: 0.4s;
}

/*************** ANIMATION ******************/

.wrapper:hover .orange-box {
    height: 63px;
    overflow: visible;
    opacity: 1;
}

.tab:hover .from {
    opacity: 0.8;
}

.tab:hover .€50 {
    opacity: 0.8;
}

.tab:hover .view {
    opacity: 0.8;
}

.tab:not (:hover) .from {
    opacity: 0;
}

.tab:not (:hover) .€50 {
    opacity: 0;
}

.tab:not (:hover) .view {
    opacity: 0;
}

.view:after {
    content: "\003E";
}

/**************** FOOTER  ******************/

.bottom-text {
    text-align: center;
}

.margin-left {
    margin-left: 68px;
}

.margin-top {
    margin-top: 58px;
}

.bottom {
    font-size: 12px;
    font-family: "Verdana", sans-serif;
    width: 1060px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}


